#GradeAppealStu1{
    margin-top : 50px;
    margin-left: 20%;
    padding : 30px;
    min-height: 500px;   
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#GradeAppealStu1 h1{ 
    text-align: center;
}
#GradeAppealStu1 .Appeal{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#GradeAppealStu1 .Infor{ 
    display: flex;
    flex-direction: row;
   
}
#GradeAppealStu1 .Infor .Student_infor{ 
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}
#GradeAppealStu1 .Infor .Realtime_infor{ 
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute; 
    right: 25px;
    
}

#GradeAppealStu1 div{ 
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#GradeAppealStu1 ul{ 
    display: flex;
    flex-direction: column;
    gap: 5px;
    color:rgb(82, 96, 202);
    font-style: italic;
}
#GradeAppealStu1 table td{ 
    text-align: center;
}
#GradeAppealStu1 .Appeal .shell{ 
    width: 150px;
    
}
#GradeAppealStu1 .Appeal .Confirm { 
   text-align: center;
}
#GradeAppealStu1 .Appeal .Confirm .btn-appeal-stu { 
    margin: 0 auto;
    display:block;
    border-color: rgba(240, 248, 255, 0.321);
 }
 
 #GradeAppealStu1 .Appeal .Confirm .btn-appeal-stu:hover{
    background-color: rgba(62, 132, 231, 0.479);

}
