#GradeReportStu1{
    margin-top : 50px;
    margin-left: 20%;
    padding : 30px;
    min-height: 500px;   
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#GradeReportStu1 h1{
    text-align: center;
}
#GradeReportStu1 #Student_infor{
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: left; 
    gap: 5px;
    color:rgb(83, 133, 243);
}
#GradeReportStu1 .Select_sem{
    height: 30px;
}
#GradeReportStu1 #Grade_table td{
    text-align: center; 
}
#GradeReportStu1 .review{
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: left; 
    gap:5px;
   
}
.title1
{
    background-color: rgba(100, 130, 207, 0.421);
};
